@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

body {
	position: relative;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-position:center top;
}

section #1 {
	/* Dans le url tu peux changer l'image de fond*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/background.jpg');
}

section #2 {
	/* Dans le url tu peux changer l'image de fond*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/background.jpg');
}

section #3 {
	/* Dans le url tu peux changer l'image de fond*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/background.jpg');
}

section #4 {
	/* Dans le url tu peux changer l'image de fond*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/background.jpg');
}

section > div {
	display: flex;
	height: 50%;
}

section > div > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

section > div > div:first-child {
	width: 40%;
	margin: 0 11%;
}

section > div > div h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: bolder;
	margin-top: 0;
	font-size: 5em;
}

.separator {
	width: 150px;
	height: 3px;
	background-color: white;
}

.pic {
	width: 80%;
}

.logo {
	position: absolute;
	left: 11%;
	top: 2.5%;
	width: 80px;
}

.about {
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
}

.nav {
	position: absolute;
	bottom: 5%;
	left: 10%;
	width: 150px;
}

#about {
	display: flex;
	display:none;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	transition: 5s all;
}

#about > a {
	position: absolute;
	top: 50px;
	right: 90px;
}

#about > p {
	width: 70%;
}

@media screen and (max-width: 500px) {
	section > div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	section > div > div:first-child {
		width: 80%;
		margin: 0 11%;
	}
	section > div > div:last-child {
		display: flex;
		align-items: center;
	}

	#about > a {
		position: absolute;
		top: 45px;
		right: 5px;
	}

	section > div > div h2 {
		font-size: 50px;
		margin-bottom: 10px;
	}
	
	.logo {
		position: absolute;
		left: 11%;
		top: 2.5%;
		width: 50px;
	}
}